*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
   
}
/* ID Generator */
.output{
    width: 35rem;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left:-8.5rem;
    padding: 5px;
    border: 2px solid transparent;
    border-color: #858282;
    margin-bottom: 2rem;
}

#back_IDgen{
    background-image: url(/static/images/form.png);
    background-size: cover; 
    height: 100%;
}
.upload-section{
    margin-left:2.5rem;
    margin-top:-3rem;

}
.banner{
    background-color: rgb(197, 8, 8);
    padding: 1.1rem;
    color: aliceblue;
    font-size: 1.3rem;
    width: 100%;
    font-family:'League Spartan';
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;
}
.banner .pyceal h4{
    color: #db9a9a;
    font-size: 1rem;
    letter-spacing: 1px;
}
.form{
    width: 50%;
    padding: 2rem 1rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
    text-align: center;
}
h1{
    font-size: 2.5rem;
    color: black;
    font-family: 'Poppins';
    margin-bottom: 1rem;
}
.reg  input{
    width: 75%;
    padding: 12px 20px;
    margin-bottom: 0.7rem;
    border-radius: 20px;
    background: #ebe0eb;
    outline: none;
    border: none;
    height: 6vh;
}
.column {
    display: flex;
    column-gap: 5px;
    margin: auto;
    padding: 12px 20px;
    margin-bottom: 0.7rem;
    border-radius: 20px;
    background: #ebe0eb;
    outline: none;
    border: none;
    height: 6vh;
}
h3{
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
    margin-left: 5rem;
    font-family: 'league spartan';
    color: #8d8989;
}
.upload{
    font-family: 'league spartan';
   
    margin-left: 6rem;
    justify-content:space-between;
    display: flex;
    margin-top: .2rem;
    margin-right: 20rem;
    width: 28rem;
}
.upload label{
    display: flex;
    margin-right: 10rem;
}
.button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 25%;
    color: #ffff;
    cursor: pointer;
    background-color: rgb(216, 10, 10)!important;
}
.button_id{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 25%;
    color: #ffff;
    cursor: pointer;
    background-color: rgb(216, 10, 10)!important;
}
.button:hover{
    background: rgb(139, 3, 3)!important;
}
.button_id:hover{
    background: rgb(139, 3, 3)!important;
}
input:focus{
    border: 1px solid rgb(231, 9, 9);
}

/* Log In */

.form-error {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    /* margin-left: -6rem; */
    margin-bottom: 5px;
    color:  rgb(231, 9, 9);
}
#back_login {
    background-image: url(/static/images/campus1.png);
    background-size: cover;
}

input[type="checkbox"] {
    width: 1rem;
    height: .8rem;
    margin-left:-1rem;
}
.login_container{
    margin-top: 30rem;
    position: relative;
    max-width: 23rem;
    min-height: 24rem;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    z-index: 101;
    background: #ffff;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1);
   
}
.login_form{
    position: relative;
    /* margin-left: 1.5rem; */
    margin-top: 1rem;
    width: 100%;
}
.content_login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_login form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_form h5{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}
.btn_login{
    width: 100%;
    max-width: 10rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.btn_id{
    width: 100%;
    max-width: 10rem;
    margin-left: 22.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.save_p{
    font-family: 'league spartan';
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}
.pass a{
    text-decoration: none;
    color: rgb(156, 106, 106);
    font-family: 'league spartan';
    font-size: 0.8rem;
    margin-left: 1rem;    
}
.pass a:hover{
    color: #f30909;
}
.check{
    font-family: 'league spartan';
    color: rgb(71, 70, 70);
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0;
}
.check a{
    text-decoration: none;
    font-weight: bolder;
    color:rgb(71, 70, 70);
}
.check a:hover{
    color:rgb(238, 8, 8) ;
}

/* Preview Page */

#prev{
    background-image: url(/static/images/preview.png);
    background-size: cover;
}
.acc_info{
    margin: auto;
    margin-top: 2rem;
    display: block;
    justify-content: center;
    background-color: #f7f5f5;
    align-items: center;
    height: 5.2rem;
    border-radius: 5px;
    width: 30%;
    padding-left: 2rem;
    padding-top: 1rem;
    font-family: 'Arial';
}
.name{
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.acc_info .sub{
    color:#8d8989;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.ID_prev{
    font-family: 'league spartan';
    font-size: 5rem;
    margin-top: 1rem;
    margin-left: 42%;
    letter-spacing: 2px;
    align-items: center;
}
.flashes {
    list-style: none;
    margin: 0;
    padding: 0;
    }  
.flashes li {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    }
.output{
    border: 2px solid transparent;
    border-color: #858282;
    width: 36rem;
}
.prev_btn{
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    margin-left: 5rem;
}
/* 
#print{
    background-color: #b4b0b0;
    margin-bottom: 2rem;
    width: 10rem;
}
#print:hover{
    background-color: rgb(238, 8, 8);
}
#logout{
    background-color: #b4b0b0;
    width: 10rem;
}
#logout:hover{
    background-color: rgb(238, 8, 8);
} */
button#print  {
    background-color:  rgb(238, 8, 8);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;;
    margin-left:-8vh;
    min-width:8rem;
}
button#download  {
    background-color:  rgb(238, 8, 8);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;;
    margin-left:-8vh;
    min-width:8rem;
}
button#logout{
    background-color: rgb(238, 8, 8);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;;
    margin-left:8vh;
    min-width:8rem;
}
button#print:hover, button#logout:hover {
    background-color: #921212;;
}
button#download:hover, button#logout:hover {
    background-color: #921212;;
}

.img-selected{
    border: 3px solid black;
    width: 200px;
    height: 200px;
}